<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Главная</title>

  <script>
    function goToProductPage(streetId) {
      window.location.href = "/street/" + streetId;
    }
  </script>
  <script>
    function confirmDelete(form) {
      if (confirm("Вы точно хотите удалить этот товар?")) {
        form.submit();
      }
    }
  </script>
</head>
<body>
  <div class="header">
    <h1>Музей Школы №26 имени А.Н.Сивачева</h1>
    <img src="{{ url_for('static', filename='uploads/school_simvol.png') }}" class="hero-img" alt="Ишак">
    <div class="header-nav">
      <a href="/search/">Поиск</a>
      <a href="/main/">Вернуться на главную</a>
      <a href="/about/">О нас</a>
      <a href="/login/">Log in</a>
    </div>
  </div>
  <div class="container">
    <div class="post-row">
      {% for instagram in data %}
      <div class="post" onclick="goToProductPage({{ instagram[0] }})">
        <h1 class="title">{{ instagram[1] }}</h1>
        <div class="content">
          <img id="post_img" src="{{ url_for('static', filename=instagram[2]) }}" alt="{{ instagram[1] }}">
        </div>
        <h3 class="description">за информацией нажми на картинку</h3>
        <div class="delete-button-container">
          <form action="/delete_street/{{ instagram[0] }}" method="POST" onsubmit="event.preventDefault(); confirmDelete(this);">

          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>
